    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @article.title %></h1>
                        <h2 class="subheading"></h2>
                        <span class="meta"><%= @article.created_at.strftime('%m/%d/%Y') %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div id='content'><%= sanitize markdown(@article.text) %></div>
                </div>
            </div>
        </div>
    </article>

    <hr>



<!-- <h1>This is article show</h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %> -->