    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">An enthuiastic self-learner</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3>SKILL</h3></br>
                <ul>
                    <li><strong>Language: </strong></br>
                      <p>Ruby, Visaul Basic</p></li>
                    <li><strong>Back-end: </strong></br>
                      <p>Ruby on Rails, ASP.net</p></li>
                    <li><strong>Front-end: </strong></br>
                      <p>Html, CSS, Javascript, JQuery, Bootstrap</p></li>
                    <li><strong>Platform: </strong></br>
                      <p>Heroku, AWS</p></li>
                    <li><strong>Others: </strong></br>
                      <p>Git</p></li>
                </ul>
                <h3>PROJECT</h3></br>
                <ul>
                    <li><strong><%= link_to 'CJBLOG (2015)', 'https://cjblogs.herokuapp.com/' %></strong></br>
                      <p>A personal blog</p>
                    </li>
                    <li><strong><%= link_to 'HowToMeet (2014)', 'http://howtomeet.herokuapp.com/' %></strong>
                      <p>An app that allows people to build meetups and share those with friends</p>
                    </li>
                    <li><strong><%= link_to 'NTUGSA (2014)', 'http://www.ntugsa.org' %></strong>
                      <p>NTUGSA(台大研究生協會) official website</p>
                    </li>
                    <li><strong><%= link_to 'JGroup (2014)', 'http://www.xn--qerw6iwskrnem2ctz1dc5nnxx.tw/JGroup/' %></strong>
                      <p>JGroup(許杰文教) officail website</p>
                    </li>
                </ul>
                <h3>COMMUNITY</h3></br>
                <ul>
                    <li><%= link_to 'Rails rookie camp', 'https://www.facebook.com/groups/RailsRookie/' %></li>
                </ul>
                <h3>EXPERIENCE</h3></br>
                <ul>
                    <li>中華民國替代役幹訓班 區隊長 (2014-2015)</li>
                    <li>NTHU DIT Robotics manager (2014)</li>
                    <li>TEDxNTHU Curator (2013)</li>
                </ul>
                <h3>EDUCATION</h3></br>
                <ul>
                    <li>NTHU ESS B.S</li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
