    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">An enthusiastic self-learner</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3>SKILL</h3></br>
                <ul>
                  <h4>
                    <li><strong>Language: </strong></br>
                      <p>Ruby, Visual Basic</p></li>
                    <li><strong>Back-end: </strong></br>
                      <p>Ruby on Rails, ASP.net</p></li>
                    <li><strong>Front-end: </strong></br>
                      <p>HTML, CSS, JavaScript, jQuery, Bootstrap</p></li>
                    <li><strong>Platform: </strong></br>
                      <p>heroku, AWS</p></li>
                    <li><strong>Others: </strong></br>
                      <p>Git</p></li>
                   </h4>
                </ul>
                <h3><%= link_to 'PROJECT', 'https://github.com/davidjuin0519' %></h3></br>
                <ul>
                  <h4>
                    <li><strong><%= link_to 'CJBLOG (2015)', 'https://cjblogs.herokuapp.com/' %></strong></br>
                      <p>A personal blog</p>
                    </li>
                    <li><strong><%= link_to 'HowToMeet (2014)', 'http://howtomeet.herokuapp.com/' %></strong>
                      <p>An app that allows people to build meetups and share those with friends
                        <ul>
                          <li>Build authenticating system which allows users using google account to sign-in</li>
                          <li>Design database structure systematically via block diagram</li>
                          <li>Embed Google services via API</li>
                        </ul>
                      </p>
                    </li>
                    <li><strong><%= link_to 'NTUGSA (2014)', 'http://www.ntugsa.org' %></strong>
                      <p>NTUGSA(台大研究生協會) official website
                        <ul>
                          <li>Build a back-stage which manages news posts and forum(s)</li>
                          <li>Build a student forum</li>
                          <li>Deploy and maintain project(s) on AWS</li>
                        </ul>
                      </p>
                    </li>
                    <li><strong><%= link_to 'JGroup (2014)', 'http://www.xn--qerw6iwskrnem2ctz1dc5nnxx.tw/JGroup/' %></strong>
                      <p>JGroup(許杰文教) officail website
                        <ul>
                          <li>Build a back-stage which manages students' infos, classes and scores</li>
                          <li>Build an online roll-call system which allows students to mark presence and check attendence via personalized sensor card</li>
                          <li>Set up and maintain server locally</li>
                        </ul>
                      </p>
                    </li>
                  </h4>
                </ul>
                <h3>COMMUNITY</h3></br>
                <ul>
                  <h4>
                    <li><%= link_to 'Rails rookie camp', 'https://www.facebook.com/groups/RailsRookie/' %></li>
                  </h4>
                </ul>
                <h3>EXPERIENCE</h3></br>
                <ul>
                  <h4>
                    <li>中華民國替代役幹訓班 區隊長 (2015)</li>
                    <li>NTHU DIT Robotics manager (2014)</li>
                    <li>TEDxNTHU Curator (2013)</li>
                    <li>YEF Talent (2012)</li>
                  </h4>
                </ul>
                <h3>EDUCATION</h3></br>
                <ul>
                  <h4>
                    <li>NTHU ESS B.S (2013)</li>
                  </h4>
                </ul>
            </div>
        </div>
    </div>

    <hr>
