<!DOCTYPE html>
<html class="no-js">
<head>
  <title>CJBLOG</title>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- stylesheets -->
  <link rel="stylesheet" href="/template/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/template/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/template/assets/css/animate.css">
  <link rel="stylesheet" href="/template/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/template/assets/css/owl.theme.css">
  <link rel="stylesheet" href="/template/assets/css/style.css">

  <script src="/template/assets/js/modernizr.custom.97074.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
    <div id="multiple-blog-page">
            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-fixed-top navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- navbar logo -->
                        <div class="navbar-brand" id="nav-logo">
                            <a href="<%=root_path%>">邁向奇點</a>
                        </div>
                        <!-- navbar logo -->
                    </div><!-- /.navbar-header -->
                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="<%=about_pages_path%>"><span>關於我</span></a>
                            </li>
                            <li>
                                <a href="<%=portfolios_path%>"><span>作品</span></a>
                            </li>
                            <li>
                                <a href="<%=articles_path%>"><span>文章</span></a>
                            </li>
                            <li>
                                <a href="<%=contact_pages_path%>"><span>聯絡</span></a>
                            </li>
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- site-navigation end -->
            <!-- header begin -->
            <header class="page-head">
                <div class="header-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <%= yield :breadcrumb %>
                                
                            </div>
                        </div>
                    </div> <!-- /.container -->
                </div> <!-- /.header-wrapper -->
            </header> <!-- /.page-head (header end) -->
            <div id="main">
              <%= yield %>
            </div>
            <!-- footer-navigation start -->  
            <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">&copy;CJ</span>
                            <a href="index.html">
                                &copy;CJ
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                </div><!-- /.container -->
            </nav>
            <!-- footer-navigation end -->

    </div>
    <script src="/template/assets/js/jquery-2.1.3.min.js"></script>
    <script src="/template/assets/js/bootstrap.min.js"></script>
    <script src="/template/assets/js/jquery.hoverdir.js"></script>
    <script src="/template/assets/js/script.js"></script>
    <script src="/template/assets/js/owl.carousel.js"></script>
    <script>
        $(function() {
            var window_height = $(window).height();
            //var nav_height = $('.main-navigation').height();
            var header_height = $('.page-head').height();
            var content_height = $('#main').height();
            var footer_height = $('.footer-nav').height();
            var total_height = header_height + content_height + footer_height;
            var offset = window_height - total_height;
            // if (window_height > total_height) {
            //     $('#main').height(content_height + offset);
            // }

            $('.portfolio-item > .item-image').each( function() { $(this).hoverdir({
                hoverDelay : 75
            }); });

            $("#sponsor-list").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                stopOnHover: true,
                items : 4,
                itemsDesktop: [1200,4],
                itemsDesktopSmall: [991,3],
                itemsTablet: [767,2],
                itemsTabletSmall: [625,2],
                itemsMobile: [479,1]
            });
        });
    </script>
</body>
</html>
